@page "/view_3"
@using Northwind
@using Models.Northwind
@using Financial
@using Models.Financial
@inject INorthwindService NorthwindService
@inject IFinancialService FinancialService

<div class="column-layout view-3-container">
    <div class="column-layout group">
        <IgbGrid Data="@_northwindEmployees" PrimaryKey="EmployeeID" DisplayDensity="DisplayDensity.Cosy" AllowFiltering="true" FilterMode="FilterMode.ExcelStyleFilter" class="ig-typography grid" view_3-scope>
            <IgbColumn Field="EmployeeID" DataType="GridColumnDataType.Number" Header="employeeID" Sortable="true" Selectable="false"></IgbColumn>
            <IgbColumn Field="LastName" DataType="GridColumnDataType.String" Header="lastName" Sortable="true" Selectable="false"></IgbColumn>
            <IgbColumn Field="FirstName" DataType="GridColumnDataType.String" Header="firstName" Sortable="true" Selectable="false"></IgbColumn>
            <IgbColumn Field="Title" DataType="GridColumnDataType.String" Header="title" Sortable="true" Selectable="false"></IgbColumn>
            <IgbColumn Field="TitleOfCourtesy" DataType="GridColumnDataType.String" Header="titleOfCourtesy" Sortable="true" Selectable="false"></IgbColumn>
            <IgbColumn Field="BirthDate" DataType="GridColumnDataType.Date" Header="birthDate" Sortable="true" Selectable="false"></IgbColumn>
            <IgbColumn Field="HireDate" DataType="GridColumnDataType.Date" Header="hireDate" Sortable="true" Selectable="false"></IgbColumn>
            <IgbColumn Field="Address.Street" DataType="GridColumnDataType.String" Header="address street" Sortable="true" Selectable="false"></IgbColumn>
            <IgbColumn Field="Address.City" DataType="GridColumnDataType.String" Header="address city" Sortable="true" Selectable="false"></IgbColumn>
            <IgbColumn Field="Address.Region" DataType="GridColumnDataType.String" Header="address region" Sortable="true" Selectable="false"></IgbColumn>
            <IgbColumn Field="Address.PostalCode" DataType="GridColumnDataType.String" Header="address postalCode" Sortable="true" Selectable="false"></IgbColumn>
            <IgbColumn Field="Address.Country" DataType="GridColumnDataType.String" Header="address country" Sortable="true" Selectable="false"></IgbColumn>
            <IgbColumn Field="Address.Phone" DataType="GridColumnDataType.String" Header="address phone" Sortable="true" Selectable="false"></IgbColumn>
            <IgbColumn Field="ManagerID" DataType="GridColumnDataType.Number" Header="managerID" Sortable="true" Selectable="false"></IgbColumn>
            <IgbColumn Field="Notes" DataType="GridColumnDataType.String" Header="notes" Sortable="true" Selectable="false"></IgbColumn>
            <IgbColumn Field="AvatarUrl" DataType="GridColumnDataType.String" Header="avatarUrl" Sortable="true" Selectable="false"></IgbColumn>
        </IgbGrid>
    </div>
    <div class="row-layout group_1">
        <div class="column-layout group_2">
            <IgbCategoryChart DataSource="@_financialBoxOfficeRevenue" ChartType="CategoryChartType.Spline" ComputedPlotAreaMarginMode="ComputedPlotAreaMarginMode.Series" class="chart" view_3-scope></IgbCategoryChart>
        </div>
        <div class="column-layout group_2">
            <IgbCategoryChart DataSource="@_financialBoxOfficeRevenue" ChartType="CategoryChartType.StepLine" ComputedPlotAreaMarginMode="ComputedPlotAreaMarginMode.Series" class="chart" view_3-scope></IgbCategoryChart>
        </div>
        <div class="column-layout group_2">
            <IgbCategoryChart DataSource="@_financialBoxOfficeRevenue" ChartType="CategoryChartType.StepArea" ComputedPlotAreaMarginMode="ComputedPlotAreaMarginMode.Series" class="chart" view_3-scope></IgbCategoryChart>
        </div>
    </div>
    <div class="row-layout group_3">
        <div class="row-layout group_1">
            <div class="column-layout group_4">
                <IgbCategoryChart DataSource="@_financialBoxOfficeRevenue" ChartType="CategoryChartType.SplineArea" ComputedPlotAreaMarginMode="ComputedPlotAreaMarginMode.Series" class="chart" view_3-scope></IgbCategoryChart>
            </div>
            <div class="column-layout group_4">
                <IgbFinancialChart DataSource="@_financialStocks" class="chart" view_3-scope></IgbFinancialChart>
            </div>
            <div class="column-layout group_5">
                <IgbPieChart DataSource="@_financialBoxOfficeRevenue" LabelMemberPath="Franchise" ValueMemberPath="TotalWorldBoxOfficeRevenue" class="pie-chart" view_3-scope></IgbPieChart>
            </div>
        </div>
    </div>
</div>

@code {
    private List<EmployeesType> _northwindEmployees = new();
    private List<BoxOfficeRevenueType> _financialBoxOfficeRevenue = new();
    private List<StocksType> _financialStocks = new();

    protected override async Task OnInitializedAsync()
    {
        _financialBoxOfficeRevenue = await FinancialService.GetBoxOfficeRevenue();
        _financialStocks = await FinancialService.GetStocks();
        _northwindEmployees = await NorthwindService.GetEmployees();
        await base.OnInitializedAsync();
    }
}
